.container {
  height: 90%;
  min-height: 90vh;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #c7e3f7;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
